*{
    margin: 0;
    padding: 0;
    border-radius: 0;
}

h4{
    color: aqua;
    padding-top: 20px;
    font-size: x-large;
    display: flex;
}

.nav-center{
    background-color: black;
    padding: 10px; 
    
}

.nav-list{
    display: flex;
    gap: 2rem;
    list-style: none;
    padding-left: 500px;

}

a{
    text-decoration: none;
    padding-top: -150px;
    color: white;
    font-size: 2rem;  
    text-align: center;
    margin: auto;
}

a:hover{
    color: rgb(196, 35, 35);
    transition: all 400ms ease-in-out;

}

h2{
    color: rgb(168, 223, 223);
    margin: auto;
    background-color: rgb(70, 78, 94);
    padding: 30px;
    width: 500px;
    margin-top: 80px;
    border-radius: 0.5rem;

}

#btn{
    margin-top: 50px;
    color: white;
    padding: 1rem;
    margin-left: 620px;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    background-color: rgb(103, 116, 161);
    border: none;
}

.color{
    color: rgb(230, 135, 11);
    margin-top: 20px;
    display: grid;
}

#btn:hover{
    color: rgb(35, 196, 75);
    transition: all 200ms ease-in-out;
    background-color: black;
}

.change-cl{
    padding: 10px;
    font-size: x-large;
    width: auto;
}

.hi{
    color: yellow;
    padding-left: 100px;
    margin-bottom: 10px;
}